/* Stilizare pentru interfața profesională */
body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.qr-code {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#qrcode {
  width: 200px;
  height: 200px;
}

.loyalty-points {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.loyalty-point {
  width: 50px;
  height: 50px;
  background-color: #d4d4d4;
  border-radius: 50%;
  margin: 0 5px;
}

.loyalty-point.active {
  background-color: #ffcc00;
}

.loyalty-point-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: #d4d4d4;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.loyalty-point-card.active {
  background-color: #ffcc00;
}

.loyalty-point-card p {
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

/* Stilizare pentru butonul de autentificare */
.button {
  display: block;
  width: 150px;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.button:hover {
  background-color: #0056b3;
}
